<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
    <link rel="stylesheet" href="/chat.css" />
</head>

<body>

    <div class="row fullheight" id="wrap">
        <%- include('./partials/nav.ejs') %> 


        <div class="col s12 fullheight" id="chatPane">

            <div class="col s12 valign-wrapper" id="inputChat">
                <div class="input-field" id="usernameInputWrap">
                    <input placeholder="Username" id="authorInput" type="text" />
                    <label for="authorInput">Username</label>
                </div>
                <div class="input-field" id="messageInputWrap">
                    <input placeholder="Message" id="messageInput" type="text" />
                </div>
                <div class="input-field" id="sendBtnWrap">
                    <button type="button" class="waves-effect waves-light btn" id="sendBtn">
                        <i class="material-icons">send</i>
                    </button>
                </div>
            </div>
            <div class="col s12 fullheight" id="viewChat">

            </div>
        </div>
    </div>

    
    <script src="/chat.js"></script>
    <%- include('./partials/foot'); %>
</body>

</html>