<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>

        <style>
            :root {
                --accent-dark: #512da8;
                --accent-light: #9575cd;
                --dark-bg: #121212;
                --dark-hover: rgba(255, 255, 255, 0.08);
            }

            #inputName:focus {
                border-bottom: 1px solid var(--accent-light);
                box-shadow: 0 1px 0 0 var(--accent-light);
            }

            #inputNameWrap input:focus+label {
                color: #9575cd;
            }

            body,
            .container {
                background-color: #121212;
            }

            h2,
            input {
                color: white;
            }

            #sendBtn {
                background-color: var(--accent-dark);
            }

            ::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: grey;
                opacity: 1;
                /* Firefox */
            }

            :-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                color: grey;
            }

            ::-ms-input-placeholder {
                /* Microsoft Edge */
                color: grey;
            }
        </style>
</head>

<body>

    <div class="container">
        <div class="row">
            <h2>Create New Room</h2>
        </div>
        <div class="row">
            <div class="input-field" id="inputNameWrap">
                <input placeholder="Give your new room a name" id="inputName" type="text" value="<%= name %>" />
                <label for="inputName">Room Name</label>
                <span class="helper-text grey-text">Room names should not have spaces</span>
            </div>
        </div>
        <div class="row">
            <div class="switch"
                title="Unlisted rooms can only be accessed with the room name, and are not shown on the list of public rooms">
                <label>
                    Make this room unlisted
                    <input type="checkbox" id="unlisted" />
                    <span class="lever"></span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="input-field" id="sendBtnWrap">
                <button type="button" class="waves-effect waves-light btn" id="sendBtn">
                    <i class="material-icons left">add</i>
                    Create Room
                </button>
            </div>
        </div>
    </div>

    <script>
        const inputName = document.getElementById('inputName');
        const sendBtn = document.getElementById('sendBtn');
        const checkbox = document.getElementById('unlisted');
        sendBtn.onclick = async () => {
            const roomID = inputName.value.trim();
            if (roomID) {
                const data = { id: roomID, unlisted: checkbox.checked };
                const response = await fetch(`/rooms`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });

                if (response.status == 200) {
                    const data = response.json();
                    window.location.href = '/app/rooms/' + roomID;
                } else if (response.status == 400) {
                    if (confirm('Room with that name already exists. Go there?')) {
                        window.location.href = '/app/rooms/' + roomID;
                    }
                }
            }
        }

        inputName.onkeypress = (e) => {
            if (e.keyCode == 32) {
                e.preventDefault();
            }
        }
    </script>
    <%- include('./partials/foot') %>
</body>

</html>